@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "NotoSans-bold";
    src: url('/NotoSans-Bold.ttf');
}

@font-face {
    font-family: "NotoSans-regular";
    src: url('/NotoSans-Regular.ttf');
}

@font-face {
    font-family: "NotoSans-medium";
    src: url('/NotoSans-Medium.ttf');
}

@theme{
    --font-noto-bold:'NotoSans-bold';
    --font-noto-regular:'NotoSans-regular';
    --font-noto-medium:'NotoSans-medium';
}

body{
    font-family: var(--font-noto-regular);
}
